
DB_USER=produser                                                                                                                                                       
    DB_PASSWORD=yourpassword                                                                                                                                     
    DB_NAME=cointracker                                                                                                                                                    
    JWT_SECRET=yourjwtsecret                                                                                                                          
    CORS_ORIGIN=https://yourdomain.com